.wrapperContainer {
    width: 150px;
}

.wrapper {
    background: #5c9cd8;
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

.arrowBottom {
    width: 13px;
    height: 13px;
    margin-left: auto;
    margin-right: 0;
    padding: 5px
}

.arrowRight {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 0;
}

.popupContainer {
    margin-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.popupList {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: grey
}