.select span.main{
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    border: 1px red solid;
    padding: 5px;
    cursor: pointer;
}

.item.selected {
    background-color: blue;
    color: white;
}

.item:hover {
    background-color: blue;
    color: white;
}

.arrowBottom {
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 5px
}

.arrowRight {
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: 0;
}
